version: '3.3'
services:
  backend:
    build:
      context: ../foodgram
      dockerfile: Dockerfile
    restart: always
    volumes:
      - static_food:/app/static/
      - media_food:/app/media/
    env_file:
      - ./.env
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend/:/app/result_build/
  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_food:/var/html/static/
      - media_food:/var/html/media/
    restart: always
volumes:
  static_food:
  media_food:
